{
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
  }
  
  /* Style the header */
  .header {
    padding: 10%;
    text-align: center;
    text-size-adjust: 0;
    background: black;
    color: white;
    background-image: url('https://raw.githubusercontent.com/zeroshic/Creative-Proto-Wk2/main/Test%20Image.jpg');
    background-repeat: no-repeat;
    background-attachment: Center;
    background-size: cover;
    margin-bottom: 40px;
  }

  /* Increase the font size of the h1 element */
  .header h1 {
    font-size: 60px;
  }

  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: black;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
 /* left-aligned link */
 .navbar a.left {
    float: left;
    padding: 9px 20px;
  }

  /* Right-aligned link */
  .navbar a.right {
    float: right;
    padding: 14px 20px;
    font-weight: bold;
    font-size: small;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Image Gallery */
  div.gallery {
    border-radius: 25px;
    border: 1px solid rgb(239, 239, 239);
    box-shadow: 4px 4px 8px rgb(233, 233, 233);
  }
  
  div.gallery:hover {
    border: 1px solid rgb(157, 157, 157);
  }
  
  div.gallery img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: medium;
  }
  
  p.sub-desc {
    padding: 0px 40px;
    text-align: center;
    align-items: center;
    font-weight: lighter;
    font-size: small;
  }


  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 16px;
    float: left;
    width: 33.3%;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px

}

.button {
    background-color: #ffc800;
    border: none;
    border-radius: 25px;
    color: black;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button:hover {
    background-color: black;
    color: yellow;
}

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .zoom {
    padding: 50px;
    background-image: url('https://raw.githubusercontent.com/zeroshic/Creative-Proto-Wk2/main/Test%20Image.jpg');
    border-radius: 25px;
    transition: transform .2s;
    width: 600px;
    height: 400px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }


  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: black;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 500px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      width:100%;
    }
  }